@media screen and (max-width:475px) {
  #grid{
   display: grid !important;
   grid-template-columns: 35px 35px 35px!important;
   gap: 50px !important;
   /* gap: 10px !important; */
}
button{
width: 70px !important;
font-size: 16px !important;

}
input{
    width: 200px !important;
    transform: translate(-400px, -80px) !important;
}
#noitems{
    width: 200px !important;
    transform: translate(-400px, -80px) !important;  
}
#bt{
    width: 200px !important;
    transform: translate(-400px, -80px) !important;
}
h1{
transform: translate(-70px, -60px) !important;
    font-size: 16px !important;
}
#show{
    display: flex;
    flex-direction: row; 
    row-gap: 50px !important; 
    /* display: grid !important;
    grid-template-columns: 10px 10px 10px 10px!important;
    gap: 20px !important; */
}
}
